    <!-- Swym Wishlist Plus EPI Button-->
    <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.14447 7.09381L8.61594 15L14.9525 8.20879C17.7898 4.2557 14.5931 -2.43417 8.61594 3.24208C2.5631 -2.33279 0.387864 3.85026 1.14447 7.09381Z" fill="currentColor"  stroke="black"></path>
        </svg>

    </button>
    <!-- Swym Wishlist Plus EPI Button-->