
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div>{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.f634d37b.css' | asset_url }}">
		 <style>/* password button style */  div.__pf_password {   background: black;   width: 100%;   text-align: center;   margin-top: 24px; } a.__pf_password-btn {   position: relative;   background: white;   color: #000;   padding: 14px 28px;   top: inherit;   right: inherit;   font-size: 12px; } .__pf_password-form {   max-width: 1140px;   margin: 0 auto; } .sc-gGLxEB.dGJRan {   background: #000; } h6:before{ 	content: 'BIG NEWS IS COMING'; 	font-size: 5%; 	animation-name: head; 	animation-duration: 5s; 	animation-iteration-count: infinite; } @keyframes head { 	0% { 	font-size:100%; 	opacity:1; } 25% { 	font-size:100%; 	opacity:0; } 50% { 	font-size:100%; 	opacity:1; } 65% { 	font-size:100%; 	opacity:0; } 80% { 	font-size:100%; 	opacity:1; } 90% { 	font-size:100%; 	opacity:0; } 100% { 	font-size:100%; 	opacity:1; } } @media (max-width:767px) { 	html, body { 	overflow-x: hidden; } }</style> <div style="opacity:0" class="sc-bCwfaz hzzSzX __pf" id="__pf"><div data-pf-type="Body" class="sc-eJocfa jARayQ pf-1_"><div data-pf-type="Layout" class="sc-gSYDnn jcqGXt pf-2_"><div data-pf-type="Section" class="sc-ckTSus kVjkXt pf-3_ pf-bg-lazy"><div style="--cw:1170px" class="sc-gGLxEB dGJRan"><div class="sc-iwajpm kydRHc pf-4_ banner-row pf-bg-lazy pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" id="banner-wrap" class="sc-oeezt OJJCp pf-5_"><img src="https://cdn.shopify.com/s/files/1/1392/1783/t/12/assets/pf-a2b6d559--Untitled6RecoveredRecovered_500x.png?v=1627525153" srcSet="https://cdn.shopify.com/s/files/1/1392/1783/t/12/assets/pf-a2b6d559--Untitled6RecoveredRecovered.png?v=1627525153 1536w, https://cdn.shopify.com/s/files/1/1392/1783/t/12/assets/pf-a2b6d559--Untitled6RecoveredRecovered_1000x.png?v=1627525153 768w, https://cdn.shopify.com/s/files/1/1392/1783/t/12/assets/pf-a2b6d559--Untitled6RecoveredRecovered_500x.png?v=1627525153 320w" width="1140" height="725" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" data-pf-type="Image" class="sc-carFqZ hBWCUB pf-6_"/></div></div></div><div class="sc-iwajpm kydRHc pf-7_ pf-bg-lazy pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-oeezt OJJCp pf-8_ pf-bg-lazy"><p class="sc-TtZnY fPBQTR pf-9_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-eGJWMs gQYBcx pf-11_">Need Assistance? Contact Our Customer Service Team at <br>outreach@shopswankaposh.com<br></span></p><div class="sc-iwajpm kydRHc pf-12_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-oeezt OJJCp pf-13_"><i class="sc-jcwpoC kyvWZW pf-14_ pfa pfa-facebook-official" data-href="https://facebook.com/swankaposh" data-target="_self" data-pf-type="Icon"></i><i class="sc-jcwpoC kyvWZW pf-15_ pfa pfa-instagram" data-href="https://www.instagram.com/swankaposh" data-target="_self" data-pf-type="Icon"></i><i class="sc-jcwpoC kyvWZW pf-16_ pfa pfa-youtube-play" data-href="https://www.youtube.com/channel/UCPWHbPEgebBEs1Ih0Z4ytaw/videos" data-target="_self" data-pf-type="Icon"></i><i class="sc-jcwpoC kyvWZW pf-17_ pfa pfa-twitter-square" data-href="https://mobile.twitter.com/SwankAPosh" data-target="_self" data-pf-type="Icon"></i></div></div></div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.7.4","shopDomain":"swank-a-posh.myshopify.com","elementData":{},"pageTitle":"BFJ LOCKDOWN","pageType":"password","pageId":"f634d37b-e400-4398-b2bc-b3c1c542bbe9","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap","trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.7.4/core/helper.js" defer></script><script>$(document).ready(function() {
    $('.__pf_password').detach().insertAfter('.banner-row');
});</script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=f634d37b-e400-4398-b2bc-b3c1c542bbe9)."
    }
  ]
}
{% endschema %}